data/
*.csv
*.json
*.pkl
*.pickle
*.pickle.gz
*.pickle.bz2
*.pickle.zip

models/
*.pt
*.pth
*.pkl
*.pickle
*.pickle.gz
*.pickle.bz2
*.pickle.zip

*.log
*.log.gz
*.log.bz2
*.log.zip
*.log.tar
*.log.tar.gz
*.log.tar.bz2

venv/

src/pycache/
src/__pycache__/
src/logs/
src/checkpoints/
src/results/
src/models/
